* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    background: rgb(20, 10, 37);
    background: linear-gradient(180deg, rgba(20, 10, 37, 1) 0%, rgba(28, 61, 73, 1) 100%);
    overflow-y: hidden;
}

body {
    padding: 10px;
    margin: 0;
    margin: auto;
    height: 100%;
    overflow-y: hidden;
    width: 70%;
}

nav {
    width: 70%;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
}

nav li {
    display: inline;
    border: 2px solid #550b58;
    border-radius: 10px;
    padding: 5px 8px;
    text-align: center;
    font-size: x-large;
}

header h1 {
    text-align: center;
    margin: auto;
    width: 70%;
    font-size: 5em;
    color: #580b19;
    text-shadow: 0 0 15px red;
}

aside {
    width: 70%;
    text-align: center;
}

aside h2 {
    font-size: 2em;
    margin: 20px 0 0 0;
    color: #b3a81b;
    text-decoration: underline;
    padding: 0 0 10px 0;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside li {
    margin-bottom: 5px;
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    margin: auto;
}

aside li:before {
    content: "-";
    text-align: center;
    padding-right: 5px;
}

a:link,
a:visited {
    text-decoration: none;
    color: #580b19;
}

article h2 {
    text-align: center;
    font-family: Airstrike;
    font-size: 4em;
    margin: 0 0 0 0;
    padding: 15px 0 0 0;
    text-decoration: underline;
    color: #580b19;
}

article hr {
    border: 2px solid orange;
    border-radius: 10px;
    margin: 7px 0 0 0;
    padding: 0 0 0 0;
}

article h3 {
    font-size: 1.8em;
    margin: 10px 0 0 20px;
    padding: 0 0 0 0;
    font-style: italic;
}

article p {
    font-size: 1.33em;
    text-align: justify;
}

.section-main-art {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    height: 100%;
    padding: 20px;
}

.caja-a {
    border: 2px solid orange;
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.2);
}

#grid_container {
    display: grid;
    grid-gap: 10px;
    min-height: 100vh;
    height: 100%;
    grid-template-rows: 180px auto 50px;
    grid-template-columns: 220px 1fr 1fr;
    grid-template-areas:
        'header header header'
        'aside main main'
        'footer footer footer';
}

.header,
.aside,
.main,
.footer {
    border: 3px solid;
    border-radius: 10px;
    border-color: #1192ff;
    background-color: rgba(255, 255, 255, 0.3);
}

.header {
    grid-area: header;
    font-family: Airstrike;
}

.aside {
    grid-area: aside;
    max-width: 220px;
    width: 100%;
}

.aside a:link,
.aside a:visited {
    text-decoration: none;
    color: black;
}

.main {
    grid-area: main;
    display: flex;
}

.footer {
    grid-area: footer;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.borde {
    border: 1px solid black;
}

.letraGrande {
    font-size: 1.7em;
    margin-top: 0;
}

.subrayado {
    text-decoration: underline;
}

.content-wrapper {
    padding: 10px;
    height: 100%;
}

.amarillo a:link,
.amarillo a:visited {
    text-decoration: none;
    color: #b3a81b;
}

@font-face {
    font-family: 'Airstrike';
    src: url(/fuentes/airstrike.ttf);
    font-weight: bold;
    font-style: bold;
    margin: 0;
    padding: 0;
}